@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

:root {
  --text100: #A8AFB3;
  --text200: #898D8F;
  --text300: #0F1115;

  --bg100: #202325;
  --bg200: #1A1A2E;
  --bg300: #1E1E1E;
  --bg400: #0F1115;

  --blue100:#E8F0FF;
  --blue200:#74C0FC;
  --blue300: #3B82F6;
  --blue400: #105FDF;
  --shadow:
    0px 0px 1px 0px rgba(20, 20, 20, 40%), 0px 1px 8px 0px rgba(20, 20, 20, 10%);

  --sans: 'Pretendard', system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: 'Pretendard', system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text100);
  background: var(--bg100);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text100: #f3f4f6;
    --text200: #D9D9D9;
    --text300: #898D8F;

    --bg100: #202325;
    --bg200: #1A1A2E;
    --bg300: #1E1E1E;
    --bg400: #0F1115;

    --blue100:#E7F2FF;
    --blue200:#74C0FC;
    --blue300: #3B82F6;
    --blue400: #1864AB;

    --shadow: 
    0px 0px 1px 0px #3b82f6, 0px 1px 10px 0px rgba(59, 130, 246, 80%);

  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

